.fileupload-buttonbar {
  padding: 0 32px 8px;
}

.fileupload-buttonbar .progress, .fileupload-buttonbar .progress-extended {
  margin-bottom: 0;
  display: none;
}

.fileupload-buttonbar .in .progress, .fileupload-buttonbar .in .progress-extended {
  display: block;
  margin-bottom: 4px;
}

#fileupload table {
  margin-bottom: 14px;
}

#fileupload .preview {
  padding-left: 32px;
}

#fileupload .preview img {
  max-width: 80px;
}

#fileupload td {
  border-top: 0 none;
  border-bottom: 1px solid #DDDDDD;
  padding: 8px 12px;
}

.assets-list li:before {
  content: "\f0c6";
  color: #777777;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  font-size: 80%;
  padding-right: 5px;
  vertical-align: middle;
}

.assets-list li {
  line-height: 20px;
}

.assets-list li,
.assets-list li a {
  color: #AAAAAA;
}

.assets-list li a:hover {
  color: #555555;
}

@media (max-width: 767px) {
  #fileupload .preview {
    padding-left: 16px;
  }

  .fileupload-buttonbar {
    padding: 0 16px 8px;
  }
}

@media (max-width: 480px) {
  #fileupload .preview {
    padding-left: 0;
  }

  .fileupload-buttonbar {
    padding: 0 0 8px;
  }
}
