html, body {
  height: 100%;
}

body {
  height: auto !important;
  min-height: 100%;
  position: relative;
}

header {
  background: #2D2D2D;
  border-bottom: 1px solid #000000;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 27px;
  overflow: hidden;
  font-family: "Droid Sans Mono", "Ubuntu Mono", "Monaco", "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-weight: bold;
}

header nav {
  padding: 0 8px;
}

header .nav-center {
  text-align: center;
  line-height: 27px;
  color: #000000;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125)
}

header ul {
  margin-top: -27px;
}

header ul li {
  float: left;
}

header a {
  color: #BBBBBB;
  line-height: 27px;
  padding: 0 8px;
}

header a:hover,
header .current a {
  color: #FFFFFF;
  text-decoration: none;
}

.main {
  padding: 64px 16px;
}

footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 64px 16px 16px;
}

footer, footer a {
  color: #CCCCCC;
}

.footer-info {
  border-top: 6px double #F2F2F2;
  padding-top: 4px;
}

.block {
  box-shadow: 0 0 4px #CCCCCC;
  background: #FFFFFF;
  margin: 0 auto 64px;
  overflow: hidden;
}

.block-header {
  padding: 8px 32px;
}

.block-content {
  padding: 16px 32px;
}

.content {
  padding-top: 8px;
  line-height: 24px;
}

.content h1,
.content h2 {
  font-size: 200%;
  margin-top: 8px;
  padding-bottom: 2px;
  border-bottom: 1px solid #E7E7E7;
}

.content * + h1,
.content * + h2 {
  margin: 32px 0 16px;
}

.content h3,
.content h4,
.content h5,
.content h6 {
  font-size: 140%;
  margin: 24px 0 12px;
  line-height: 32px;
}

.content p,
.content pre {
  margin-bottom: 16px;
}

.content pre,
.content pre span {
  line-height: 16px;
}

.content ul,
.content ol {
  margin: 0 0 16px 8px;
}

.content ul > li:before {
  content: "\f061";
  font-family: FontAwesome;
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  font-size: 70%;
  padding-right: 8px;
  vertical-align:middle;
}

.content ol > li {
  margin-left: 19px;
  list-style: decimal;
}

.content li {
  line-height: 22px;
  margin-bottom: 4px;
}

.field_with_errors input,
.field_with_errors textarea,
.field_with_errors .CodeMirror {
  background-color: #F2DEDE;
  border-color: #EED3D7;
}

.double-line {
  border: 0 none;
  background: none;
  margin: 0;
  padding: 0;
  height: 3px;
  border-bottom: 1px solid #E7E7E7;
  border-top: 1px solid #E7E7E7;
  clear: both;
}

.expanding-button:hover {
  text-decoration: none;
}

.expanding-target {
  display: none;
}

@media (max-width: 767px) {
  header {
    margin: 0 -20px;
  }

  footer {
    margin: 0 -20px;
  }

  .main {
    margin: 0 -20px;
  }

  .block-header {
    padding: 8px 16px;
  }

  .block-content {
    padding: 16px;
  }
}

@media (max-width: 480px) {
  header .nav-center {
    display: none;
  }

  header ul {
    margin-top: 0;
  }

  .block {
    box-shadow: none;
    margin-top: -16px;
  }

  .block-header {
    padding: 0 0 8px;
    margin-top: 0;
  }

  .block-content {
    padding: 16px 0;
  }
}
