/*
 * For pagination with bootstrap and kaminari
 */
.pagination {
  border: 1px solid #E7E7E7;
  background: #FFFFFF;
  margin-bottom: 40px;
  padding: 10px 16px 2px;
  font-size: 12px;
}

.pagination span {
  border: 1px solid #DDDDDD;
  margin: 0 4px;
  padding: 5px 0;
  line-height: 18px;
  float: left;
  background: #FFFFFF;
}

.pagination span a {
  float: none;
  border-width: 0;
  padding: 5px 10px;
  line-height: 16px;
}

.pagination span.current, .pagination span.gap {
  color: #999999;
  font-weight: bold;
  padding: 5px 10px;
}

.pagination span.gap {
  border-width: 0;
  padding: 5px;
}

@media (max-width: 480px) {
  .pagination span.page {
    display: none;
  }
  .pagination span.current {
    display: block;
  }
}


/*
 * For CodeMirror editor
 */
.CodeMirror {
  font-family: "Droid Sans Mono", "Ubuntu Mono", "Monaco", "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 12px;
  margin-bottom: 9px;
  line-height: 1.5em;
  color: #555555;
  background-color: #FFFFFF;
  border: 1px solid #E3E2E1;
  height: auto;
  box-shadow: 0 1px 1px rgba(65, 55, 45, 0.1) inset;
}

.CodeMirror-scroll {
  min-height: 256px;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%
}

span.cm-header {
  font-weight: normal;
}


/*
 * For font awesome
 */
[class^="icon-"], [class*=" icon-"] {
  line-height: inherit;
}


/*
 * For tag it
 */
ul.tagit {
  margin-bottom: 9px;
  border-radius: 0;
  border: 1px solid #E3E2E1;
  box-shadow: 0 1px 1px rgba(65, 55, 45, 0.1) inset;
}

.tagit-new input[type="text"].ui-autocomplete-input {
  height: auto;
  box-shadow: none;
}


/*
 * For bootstrap
 */
body {
  font-family: "Quantico", "Ubuntu", "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", "DejaVu Sans", "Verdana", "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Russo One", "Ubuntu", "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", "DejaVu Sans", "Verdana", "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  font-weight: normal;
}

em {
  background: #DDFFCC;
  font-style: normal;
  font-size: 12px;
  padding: 0 2px;
}

blockquote {
  margin-left: 12px;
}

blockquote p {
  font-size: inherit;
  line-height: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #005580;
}

a:hover {
  color: #0088CC;
}

img, video {
  max-width: 100%;
}

form {
  margin: 0;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(65, 55, 45, 0.1) inset;
  border: 1px solid #E3E2E1;
  font-family: inherit;
  border-radius: 0;
  height: 28px;
  width: 100%;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  box-shadow: 0 1px 1px rgba(65, 55, 45, 0.1) inset;
  border-color: #DDDDDD;
}

pre, code, input, textarea, select {
  border-radius: 0;
}

label, input {
  vertical-align: middle;
}

input[type='checkbox'] + label {
  display: inline;
}

code, pre {
  font-family: "Droid Sans Mono", "Ubuntu Mono", "Monaco", "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  border: 0 none;
}

code {
  background: #F5F5F5;
  font-size: 11px;
  padding: 0 2px;
}

pre {
  font-size: 11px;
  line-height: 16px;
  padding: 4px 6px;
}

.alert, .btn {
  font-family: inherit;
  border-radius: 0;
}

.progress {
  height: 16px;
}


/*
 * For pandoc
 */
pre.sourceCode {
  padding: 6px 32px;
  margin: 0 -32px 16px;
}

@media (max-width: 480px) {
  pre.sourceCode {
    padding: 6px 40px;
  }
}
